main.paper {
  header .title h1 {
    // You might want to change the font size if you have a long or a short name
    font-size: 3rem;
    font-family: 'Integral CF';

    // You may disable all capitals name with this.
    //text-transform: none;
  }

  .section-experience p {
    // If you have a lot of experiences, you can lower the line height
    // to fit more text on a single page.
    line-height: 1.25;
  }
}

main.paper .right-column .section-languages h2 span,
main.paper .left-column .section-languages h2 span,
.paper .section-languages h2 span {
  font-weight:400;
  font-size:.9rem
}

.section-title {
  border-left: none;
  padding-left: 0rem;
  font-family: 'Poppins';
}

.job-title {
  font-style: italic;
}

.paper {
  font-family: 'Jost';
  font-size: .925rem;
}

.paper p {
  font-family: 'Jost';
  font-size: 1rem;
  line-height: 1.25;
  text-align: inherit;
}

$text-color: #202020 !default;

@font-face {
  font-family: 'Poppins';
  src: url(/resume/fonts/poppins/Poppins-SemiBold.ttf); 
}

@font-face {
  font-family: 'Google Sans';
  src: url(/resume/fonts/Google-Sans-Regular.ttf);
}

@font-face {
  font-family: 'Jost';
  src: url(/resume/fonts/jost/Jost-400-Book.otf);
}

@font-face {
  font-family: 'Integral CF';
  src: url(/resume/fonts/integral/IntegralCF-Regular.otf);
}